<%= form_with(model: checkout, local: true) do |form| %>
  <% if checkout.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(checkout.errors.count, "error") %> prohibited this checkout from being saved:</h2>

      <ul>
      <% checkout.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :treatment %>
    <%= form.text_field :treatment %>
  </div>


  <div class="field">
    Basic Checkup:
    <%= check_box_tag 'checkout[windows]', 'windows' %>
  </div>
  <div class="field">
    Advance Checkup:
    <%= check_box_tag 'checkout[mirror]', 'mirror' %>
  </div>
  <div class="field">
    Eyesight:
    <%= check_box_tag 'checkout[psensor]', 'psensor' %>
  </div>


  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
